.colorSelectorContainer {
    display: flex;
    margin-top: 8px;
    gap: 16px;
}
.colorSelectorContainer button {
    border-radius: 4px;
    color: white;
    margin: 0;
    flex-grow: 1;
}

.colorSelectorContainer button:hover {
    background-color: rgb(36, 36, 36);
}
.colorSelectorButton {
    background-color: rgb(95, 95, 95);
}

.selectdColorSelectorButton {
    background-color: rgb(36, 36, 36);
}
