.layout {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100%;
}


.body {
    flex-grow: 1;
    display: flex;
}

.body aside {
    background-color: blue;
}

.body main{
    flex-grow: 1;
    background-color: rgb(54, 54, 54);
}